<header class="hborder">
    <i class="fas fa-fw fa-3x fa-rotate-90 fa-gamepad"></i>
    <h1>My Games</h1>
    <!-- Tics das bordas -->
    <div class="hbd tl"></div>
    <div class="hbd tr"></div>
    <div class="hbd bl"></div>
    <div class="hbd br"></div>
</header>

<nav class="hborder">
    <a routerLink="/home"><i class="fas fa-fw fa-home"></i></a>
    <div id="links" class="vborder">
        <a routerLink="/list"><i class="fas fa-fw fa-th-list"></i> Listar</a>
        <a routerLink="/new"><i class="fas fa-fw fa-plus-square"></i> Novo</a>
        <a routerLink="/about"><i class="fas fa-fw fa-info-circle"></i> Sobre</a>
        <!-- Tics das bordas -->
        <div class="vbd tl"></div>
        <div class="vbd tr"></div>
        <div class="vbd bl"></div>
        <div class="vbd br"></div>
    </div>
    <a id="menu" (click)="menuToggle()"><i class="fas fa-fw fa-bars"></i></a>
    <!-- Tics das bordas -->
    <div class="hbd tl"></div>
    <div class="hbd tr"></div>
    <div class="hbd bl"></div>
    <div class="hbd br"></div>
</nav>

<main class="vborder">
    <router-outlet></router-outlet>
    <!-- Tics das bordas -->
    <div class="vbd tl"></div>
    <div class="vbd tr"></div>
    <div class="vbd bl"></div>
    <div class="vbd br"></div>
</main>

<footer class="hborder">
    <i class="far fa-fw fa-copyright"></i> 2020 BRUNO SILVA.
    <!-- Tics das bordas -->
    <div class="hbd tl"></div>
    <div class="hbd tr"></div>
    <div class="hbd bl"></div>
    <div class="hbd br"></div>
</footer>
